h3 {
  color: var(--donker-groen);
  font-size: 3em;
  margin-block: 3em 0.5em;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    margin-block: 1em 0.5em;
  }
}

a {
  font-size: 1.5em;
}
