h3 {
  color: var(--donker-groen);
  font-size: 3em;
  margin-block: 1.5em 0.5em;
  @media (max-width: 992px) {
    margin-block: 1em 0.5em;
    font-size: 2em;
  }
}

h4 {
  color: var(--donker-groen);
  font-size: 2em;
  margin-block: 1em 0.5em;
  @media (max-width: 992px) {
    font-size: 1.4em;
  }
}

.pitch {
  color: var(--donker-groen);
  font-weight: 500;
  font-size: 1.5em;
  @media (max-width: 992px) {
    font-size: 1.1em;
  }
  a {
    font-size: 1em;
    margin-inline-start: 0.25em;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &-list-container {
    text-align: start;
  }
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
    text-align: end;
    p {
      margin-block-end: 0;
    }
    > :nth-child(even) {
      text-align: start;
    }
  }
}
