.carousel-control-prev-icon {
  background-image: url("/assets/svg/left-arrow.svg");
  background-color: var(--fris-groen);
  border-radius: 50%;
  width: 5.5em;
  height: 4em;
  background-size: 60%;
  @media (max-width: 992px) {
    width: 3em;
    height: 2.25em;
  }
}

.carousel-control-next-icon {
  background-image: url("/assets/svg/left-arrow.svg");
  background-color: var(--fris-groen);
  border-radius: 50%;
  width: 5.5em;
  height: 4em;
  background-size: 60%;
  transform: rotate(180deg);
  @media (max-width: 992px) {
    width: 3em;
    height: 2.25em;
  }
}

.pitchers-carousel-container {
  position: relative;
  margin-bottom: 3rem;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  width: auto;

  &:hover {
    opacity: 0.8;
  }
}

.carousel-control-next {
  right: -6rem;
  @media (max-width: 992px) {
    right: -0.5rem;
  }
}

.carousel-control-prev {
  left: -6rem;
  @media (max-width: 992px) {
    left: -0.5rem;
  }
}

.card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 2em;
}
.react-multi-carousel-item {
  &::marker {
    content: unset;
  }
}
