.svg-randvoorwaarden {
  top: 40%;
  @media (max-width: 992px) {
    margin-block-start: 32%;
    margin-block-end: 1em;
    top: 0;
    margin-inline: 50% 50%;
  }
}

.svg-uitgangspunten {
  display: none;
  @media (max-width: 992px) {
    display: block;

    margin-block-start: 1.5em;
    margin-block-end: 2em;
    margin-inline: 50% 50%;
  }
}
