.wiegingenjevoor {
  background-color: var(--licht-paars);
  box-shadow: 0 0 0 100vmax var(--licht-paars);
  clip-path: inset(0 -100vmax);
  padding-bottom: 2rem;
  h3 {
    color: white;
    padding-block: 2.5em 0.5em;
    margin-block: 0;
    @media (max-width: 992px) {
      padding-block: 1em 0.5em;
    }
  }
  p {
    color: white;
    &:last-of-type {
      margin-bottom: 2em;
      @media (max-width: 992px) {
        margin-bottom: 1em;
      }
    }
  }

  .year-section {
    margin-top: 3rem;

    &:first-of-type {
      margin-top: 2rem;
    }

    @media (max-width: 992px) {
      margin-top: 2rem;
    }
  }

  .year-header {
    margin-bottom: 2rem;
    display: inline-block;

    h4 {
      margin: 0;
      font-size: 2.5rem;
      font-weight: bold;
      color: var(--donker-groen);
      background-color: var(--fris-groen);
      padding: 0.5rem 2rem;
      border-radius: 50px;
      transform: rotate(-2deg);
      display: inline-block;
      box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);

      @media (max-width: 992px) {
        font-size: 1.8rem;
        padding: 0.4rem 1.5rem;
      }
    }
  }
}
img.idee {
  height: 180px;
  width: 180px;
  position: absolute;
  top: -8%;
  left: 12%;
  z-index: 1;
  transform: rotate(-30deg);

  @media (max-width: 992px) {
    width: 100px;
    height: 100px;
    top: -8%;
    left: 8%;
  }
  &--second {
    top: 0;
    right: 8%;
    left: auto;
    z-index: 2;
    transform: rotate(25deg);
    @media (max-width: 992px) {
      top: -6%;
      right: 8%;
    }
  }
}
